a {
    color: rgb(29, 29, 29);
    text-decoration: none;
}

a:hover {
    color: rgb(29, 29, 29);
    text-decoration: none;
}

.carousel-inner > .item > img {
    width:640px;
    height:360px;
}

.icons {
    width: 100px;
}

@media screen and (max-width: 600px) {
    /* body {
        background-color: chartreuse;
    } */
}