@font-face {
  font-family: Harabara;
  src: url(../assets/Harabara\ Mais\ Demo.otf);
}

* {
  margin: 0%;
  padding: 0;
  font-family: Harabara;
}

nav a, .foo a {
  color: rgb(29, 29, 29);
  text-decoration: none;
}

nav a:hover, .foo a:hover {
  color: rgb(29, 29, 29);
  text-decoration: none;
}

nav a img {
  width: 80px;
  height: 80px;
}

.center {
  height: 200px;
  position: relative;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 720px;
  background: orange;
  background: linear-gradient(
    0deg,
    rgba(255, 158, 0, 1) 0%,
    rgba(255, 255, 255, 0) 61%
  );
}

.logo {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 240px;
  z-index: 2;
  animation: move 1s;
}

.logo img {
  width: 100%;
  height: 100%;
}

.title h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  display: block;
  position: relative;
  z-index: 3;
}

.link-area {
  margin: 0;
  position: absolute;
  top: 70%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: white;
}

.link-area div{
  display: flex;
  justify-content: center;
  width: 100%;
}

.link-area div h2, h3{
  padding: 10px;
  animation: hover 2s ease;
}

.link-area div a {
  text-decoration: none;
  color: white;
}

.link-area div h3:hover{
  cursor: pointer;
  color: #FF9812;
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 720px;
  display: block;
}

.stars {
  background: #000 url(./../assets/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(./../assets/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 450s linear infinite;
}

.info {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 720px;
  top: 800px;
  background: white;
  z-index: -1;
}

.content{
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  max-width: 800px;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.foo{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 1600px;
}

/* animations */

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 0;
  }
}

@keyframes fade{
  from{
      opacity: 0;
      transform: scale(0.9);
  } 
  to{
      opacity: 1;
      transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .logo {
    height: auto;
  }
  .icons {
    margin-right: 5%;
  }
}

@media screen and (max-width: 472px) {
  .icons {
    margin-left: 6%;
  }
}

@media screen and (max-width: 339px) {

  .navbar-brand {
    margin-right: 0;
  }

  nav a img {
    width: 60px;
    height: 60px;
  }

  .icons {
    padding-top: 15px;
  }
}